{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Browse the Steyaert family movie collection. Track movies by rating, format, and more in our personal database.{% endblock %}">
    <meta name="keywords" content="steyaert movies, family movie collection, movie database, film library, blu-ray, dvd, 4k, smdb">
    <meta name="author" content="Steyaert Family">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% block og_title %}Steyaert Movie Database{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Browse the Steyaert family movie collection.{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'og.png' %}{% endblock %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% block twitter_title %}Steyaert Movie Database{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Browse the Steyaert family movie collection.{% endblock %}">

    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'smdb.png' %}">
    {% block metaLinks %}{% endblock %}
    <title>{% block title %}Title{% endblock %} | Steyaert Movie Database</title>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/moviedb.js' %}"></script>
    <script defer src="{% block scripts %}{% endblock %}"></script>
    <style>
        /* Override Bootstrap's default teal links in dark mode */
        a {
            color: #6ea8fe !important; /* Lighter blue - more readable */
        }
        a:hover {
            color: #9ec5fe !important; /* Even lighter on hover */
        }

        /* Make nav-pills stack nicely on mobile */
        @media (max-width: 1399.98px) {
            .navbar-collapse .nav-pills {
                flex-direction: column !important;
                width: 100%;
            }
            .navbar-collapse .nav-pills .nav-item {
                width: 100%;
            }
            .navbar-collapse .nav-pills .nav-link {
                border-radius: 0.375rem;
                margin: 0.25rem 0;
                width: 100%;
                text-align: left;
            }
            .navbar-collapse .nav-pills .dropdown-menu {
                width: 100%;
            }
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-xxl bg-dark navbar-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Steyaert Movie Database</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="nav me-auto mb-2 mb-lg-0 nav-pills">
                <li class="nav-item">
                <a class="nav-link {% block homeClass %}{%endblock%}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% block allClass %}{%endblock%}" href="{% url 'all' %}">All Movies</a>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ratingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Movies By Rating
                </a>
                <ul class="dropdown-menu" aria-labelledby="ratingDropdown">
                    <li><a class="dropdown-item" href="{% url 'g_movies' %}">G</a></li>
                    <li><a class="dropdown-item" href="{% url 'pg_movies' %}">PG</a></li>
                    <li><a class="dropdown-item" href="{% url 'pg-13_movies' %}">PG-13</a></li>
                    <li><a class="dropdown-item" href="{% url 'r_movies' %}">R</a></li>
                    <li><a class="dropdown-item" href="{% url 'nr_movies' %}">NR</a></li>
                    <li><a class="dropdown-item" href="{% url 'tv_shows' %}">TV</a></li>
                </ul>
                </li>

                <li class="nav-item">
                <a class="nav-link {% block addClass %}{%endblock%}" href="{% url 'add' %}">Add a Movie</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% block randomClass %}{%endblock%}" href="{% url 'random_movie_generator' %}">Random Movie Generator</a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link {% block addMassClass %}{%endblock%}" href="{% url 'add_mass' %}">Mass Add Movies</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn btn-link text-start w-100 border-0 p-0 px-3 py-2">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% block loginClass %}{%endblock%}" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>

            <form class="d-flex mt-3 mt-xl-0" role="search" onsubmit="return redirectToSearch(this)">
                <input class="form-control me-2" type="search" id="searchTitle" placeholder="Search" aria-label="Search" />
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>

  
    <div class="container mt-4">
            {% block content %}{% endblock %}
    </div>
</body>
</html>