{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block homeClass %}active{% endblock %}

{% block content %}
<div class="container text-center my-5">
  <h1 class="mb-4">Welcome to the Steyaert Movie Database Dashboard</h1>
  
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'all' %}" class="btn btn-primary w-100">All Movies</a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'movies_by_rating' rating='g' %}" class="btn btn-secondary w-100">G Movies</a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'movies_by_rating' rating='pg' %}" class="btn btn-light w-100">PG Movies</a>
    </div>
  </div>

  <div class="row g-3 mt-3">
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'movies_by_rating' rating='pg-13' %}" class="btn btn-success w-100">PG-13 Movies</a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'movies_by_rating' rating='r' %}" class="btn btn-warning text-white w-100">R Movies</a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'movies_by_rating' rating='nr' %}" class="btn btn-danger w-100">NR Movies</a>
    </div>
  </div>

  <div class="row g-3 mt-3">
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'movies_by_rating' rating='tv' %}" class="btn btn-light w-100">TV Shows</a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'add' %}" class="btn btn-primary w-100">Add Movie</a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{% url 'random_movie_generator' %}" class="btn btn-success w-100">Random Movie Generator</a>
    </div>
  </div>
</div>
{% endblock %}
