{% extends "moviedb/base_movies.html" %}

{% block title %}NR Movies{% endblock %}
{% block description %}Browse all NR (Not Rated) movies in the Steyaert family collection. Unrated films and special releases.{% endblock %}

{% block movie_rating %}NR Movies{% endblock %}

{% block content %}
{% if not nr_movies %}
    <p class="h3 text-center text-warning mt-4">No NR Movies</p>
{% else %}
    <ul class="list-group">
        {% for movie in nr_movies %}
            <li class="list-group-item {% if forloop.counter0|divisibleby:2 %}list-group-item-light{% endif %}">
            {{ movie.title }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}