{% extends "moviedb/base_movies.html" %}

{% block title %}TV Shows{% endblock %}

{% block movie_rating %}TV Shows{% endblock %}

{% block content %}
{% if not tv_movies %}
    <p class="h3 text-center text-warning mt-4">No TV Shows</p>
{% else %}
    <ul class="list-group">
        {% for movie in tv_movies %}
            <li class="list-group-item {% if forloop.counter0|divisibleby:2 %}list-group-item-light{% endif %}">
            {{ movie.title }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}