{% extends 'base.html' %}

{% block title %}Tutorial{% endblock %}
{% block description %}Watch the SWCCG Database tutorial to get started.{% endblock %}
{% block og_title %}SWCCG Database Tutorial{% endblock %}
{% block og_description %}Watch the SWCCG Database tutorial to get started.{% endblock %}
{% block twitter_title %}SWCCG Database Tutorial{% endblock %}
{% block twitter_description %}Watch the SWCCG Database tutorial to get started.{% endblock %}

{% block content %}
<p class="text-secondary">Redirecting to tutorial...</p>
{% endblock %}

{% block scripts %}
<script>window.location.replace('https://youtu.be/0khPc4fT9AQ');</script>
{% endblock %}
